/* styles.css */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

body > * {
  border: 1px solid black;
}

header > nav{
  padding: 1rem 2rem;

  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

#content {
  padding: clamp(1rem, calc(1rem + 1vh), 3rem) clamp(1rem, calc(0.5rem + 6vw), 10rem);
  flex: 1;

  display: flex;
}