/* styles.css */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

body > * {
  border: 1px solid black;
}

header > nav{
  padding: 1rem 2rem;

  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
}

#content {
  padding: clamp(1rem, calc(1rem + 1vh), 3rem) clamp(1rem, calc(0.5rem + 6vw), 10rem);
  flex: 1;

  display: flex;
}

.home-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.home-container > .hero-img,
.home-container > .hero-intro {
  flex: 1 1 40%;
  min-width: 16rem;
  max-width: 50%;
}

.home-container > .hero-img {
  flex: 1;
}

.hero-img > img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.home-container > .hero-intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-intro > h1 {
  font-size: clamp(1.6rem, calc(1rem + 3.2vw), 4rem);
}

.hero-intro > p {
  font-size: clamp(1rem, calc(0.6rem + 1.6vw), 1.4rem);
  text-align: justify;
}

.hero-intro > button {
  max-width: fit-content;
  font-size: clamp(0.9rem, calc(0.5rem + 1vw), 1.2rem);
  padding: 0.5rem 2rem;
  align-self: center;
  border-radius: 1.5rem;
  border: none;
}